body{
    width: 1366px;
    height: 768px;
    position: relative;
    min-width: 900px;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

.container{
    display: flex;
    justify-content: space-between;
    border: solid ;
}

.col-container{
    display: flex;
    flex-direction: column;
}

#madlib{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inbox{
    display: flex;
    padding: 5px;
}

.inbox-left{
    display: flex;
    /* border: 2px solid red; */
    width: 20%;
}

.inbox-right{
    display: flex;
    /* border: 2px solid blue; */
    width: 70%;
}

input {
    width: 100%;
}

#signin, #generate, #name{
    width: auto;
}

#close{ 
    background-color: transparent;
    border: transparent;
}

#close:hover, #generate:hover, #signin:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.show{
    display: flex;
}

.splash{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    border-color: black;
    border: black solid;
    padding: 15px;
    line-height: 20px;
}

#signin{
    width: fit-content;
}

#left{
    display: flex;
    width: 50%;
    flex-direction: column;
}

#right{
    display: flex;
    width: 50%;
    flex-direction: column;
}