*{
    box-sizing: border-box;
}

body{
    max-width: 1366px;
    max-height: 768px;
    position: relative;
    min-width: 900px;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

.container{
    display: flex;
    justify-content: space-between;
    border: solid ;
    padding: 10px;
}

.col-container{
    display: flex;
    flex-direction: column;
}

.madlib{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inbox{
    display: flex;
    padding-left: 80px;
    padding-top: 11px;
    padding-bottom: 5px;
}

#btn1{
    margin-left: 80px;
}

.inbox-left{
    display: flex;
    /* border: 2px solid red; */
    width: 20%;
}

.inbox-right{
    display: flex;
    /* border: 2px solid blue; */
    margin-left: 10px;
    width: 70%;
}

input {
    width: 100%;
}

#signin, #generate, #name{
    width: auto;
}

#close{ 
    background-color: transparent;
    border: transparent;
}

#close:hover, #generate:hover, #signin:hover{
    cursor: pointer;
}

.hidden{
    display: none;
}

.show{
    display: flex;
    flex-direction: column;
    height: 768px;
    overflow: hidden;
}

.splash{
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
    border-color: black;
    border: black solid;
    padding: 15px;
    line-height: 20px;
    margin-top: 1in;
}

#signin{
    width: fit-content;
}

#top{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#bottom{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 500px;
    min-width: 500px;
    visibility: hidden;
}

#story{
    line-height: 20px;
    font-size: 12px;
}

nav{
    width: 100%;
    margin-left: 40px;
    margin-top: 20px;
}

#title{
    margin-left: 40px;
    margin-top: 10px;
    color: rgb(8,110,255);
}

#box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 20px;
    margin: 40px;
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}

#row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

a:link {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
  }

.img{
    border-style:solid;
    border-color: rgb(8,110,255);
    width: 70px;
}