body, html {
    height: 100%;
    margin: 0;
    font-family: 'Spinnaker', sans-serif;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
    background-color: #1D1D1D;
}

h1, h2, p {
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-weight: 500;
}

p {
    margin-bottom: 20px;
    line-height: 1.5em;
}

.flex-container{
    display: flex;
    justify-content: center;
}

/* Overlay Stuff */
.hidden{
    display: none;
}

.show{
    display: block;
    height: 100%;
}

/* Darren Button Layout*/
/* Buttons */
.navigation {
    width: 100%;
    padding: 50px 100px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

/* Darren Button Styling*/
.button {
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    cursor: pointer;
    border-style: solid;
}
.next {
    padding: 10px 20px;
    border-radius: 10px;
    border-color: white;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 21px;
}

.back {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 21px;
}

/* Page 1 */
#field{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background:
        linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(0, 0, 0, 0.5)
         ),
        url("images/field.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#prompt{
    font-size: 48px;
    width: 553px;
    margin-bottom: 80px;
    text-align: center;
    color: #FFFFFF;
}

#start-btn{
    font-size: 24px;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: white solid;
    cursor: pointer;
}

#responses{
    position: absolute;
    bottom: 23px;
    color: #FFFFFF;
    font-family: 'Spinnaker', sans-serif;
    font-size: 24px;
    text-decoration: underline;
    cursor: pointer;
}

/* Page 2 */
#fire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url("images/fire.jpg");
    background-color: black;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#climateChange{
    font-size: 48px;
    width: 553px;
    text-align: center;
    color: #EF2929;
    margin-bottom: 20px;
}

#information{
    font-family: 'Spinnaker', sans-serif;
    font-size: 24px;
    width: 780px;
    color: #FFFFFF;
}

/* Page 3 */
#heading3{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    margin-top: 120px;
    width: 244px;
    margin-bottom: 100px;
}

.instructions3{
    font-family: 'Spinnaker', sans-serif;
    font-size: 18px;
    width: 244px;
}

#draw{
    margin-top: 120px;
    margin-left: 50px;
}

#clear{
    font-size: 18px;
}

/* Page 4 */
#preview{
    width: 871px;
    height: 490px;
    display: none;
    z-index: 2;
}

#heading4{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    width: 265px;
    margin-top: 120px;
}

#dotted-border{
    margin-left: 120px;
    display: flex;
    margin-top: 120px;
    border-radius: 45px;
    width: 50%;
    height: 50vh;
    padding: 30px;
    border: 2px white dashed;
    background-color: #c4c4c410;
    justify-content: center;
    align-items: center;
}

#upload{
    z-index: 0;
}

/* Page 5 */
#heading5{
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    width: 406px;
    margin-top: 175px;
} 


#upload{
    margin-top: 200px;
    width: 100%;
    border:0 0 0 3px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    background-color: transparent;
    color: #EF2929;
    font-family: 'Oswald', sans-serif;
    font-size: 48px;
}

#preview2{
    margin-top: 175px;
    margin-left: 130px;
}