body{
    width: 1366px;
    height: 768px;
    position: relative;
    min-width: 900px;
    margin: auto;
}

h1{
    text-align: center;
}

main, .container{
    display:flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

#left, #right{
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

footer{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
}