 body{
    background: linear-gradient(-45deg, #FFC19F, #F09F9C, #C86B98,#642B6B,#1d0f36,#270F36);
    color: #fff;
    width: 1366px;
    height: 768px;
    background-size: 400% 400%;
    position: relative;
    animation: change 20s ease-in-out infinite;
    min-width: 900px;
    margin: 0 auto;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

#banner{
    width: 1100px;
    height: 250px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    color: #fff;
    padding-bottom: 10px;
    font-style: normal;
    font-size: 12px;
}

li:hover{
    font-size: 13px;
}

.center{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

#container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 15px;
}


footer{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 25px;
}

a:link {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

#ball {
    height: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: sun-moon 20s ease-in-out infinite;
}

#square1{
    width:50px;
    height:50px;
    background-color: yellow;
    margin: 50px;
    transform: rotate(45deg);
    position: absolute;
    animation: star 20s ease-in-out infinite;
}

#square2{
    width:50px;
    height:50px;
    background-color: yellow;
    margin: 50px;
    animation: star 20s ease-in-out infinite;
}

@keyframes star {
    0%{
        background-color: yellow;
    }
    50%{
        background-color: transparent;
    }
    100%{
        background-color: yellow;
    }
}

#square1:hover{

    cursor: pointer;
}

#square2:hover{

    cursor: pointer;
}



#ufo-ball {
    height: 75px;
    width: 75px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
}

#ufo {
    height: 50px;
    width: 200px;
    background-color: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ufo:hover{
    transform: scale(2);
    transition: all 2s ease-out;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-around;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@keyframes sun-moon{
    0%{
        background-color: #fff;
    }
    50%{
        background-color: rgba(255, 196, 0, 0.699);
    }
    100%{
        background-color: #fff;
    }
}

#ball:hover{
    transform: rotateY(2205deg);
    transition: all 5s ease-out;
    cursor: pointer;
}

#left-column{
    border: 3px solid #fff;
    padding: 5rem 5rem;
}

#middle-column{
    border: 3px solid #fff;
    padding: 5rem 5rem;
}

#right-column{
    border: 3px solid #fff;
    padding: 5rem 5rem;
}