body{
    background: #707070;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#laptop{
    width: 1257px;
    height: 707px;
    background: #1f1f1f;
}

#screen{
    position: relative;
    width: 1067px;
    height: 600px;
    background: #414141;
    top: 54px;
    left: 95px;
}

#keyboard{
    display: flex;
    justify-content: space-evenly;
    background-color: #1f1f1f;
}

.keys{
    font-family: 'Tuffy Bold', arial;
    color: aqua;
    background-color: black;
    box-shadow: 0px 5px 5px black;
    text-align: center;
    font-size: 1.3em;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: 30px;
}