* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: antiquewhite;
}

#myVideo {
    display: block;
    width: 100%;
    /* max-width: 1366px; */
    margin: auto;
}

#controls {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

i {
    width: 48px;
    padding: 12px;
    border: 0;
    border-radius: 7px;
    text-align: center;
    background-color: black;
    color: antiquewhite;
}

i:hover,
input {
    cursor: pointer;
}